* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(16, 121, 173, 0.26);
    font-family: 'Cairo', sans-serif;
    font-weight: bolder;

  }

  .logo {
    width: 50%;
    height: 50%;
    margin-right: 150px;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-decoration: none;
    font-size: 17px;

  }

  .slogan {

    color: #1078AD;
    font-family: 'Cairo', sans-serif;
    border-radius: 10px;
    width: 30%;
    font-weight: bold;
    font-size: 17px;
    border-style: ridge;
    text-align: center;
    padding: 10px;
    height: 40px;
    padding-top: -10px;

  }

  .nav-links li {
    list-style: none;
  }

  .link {
    color: #1078AD;
  }

  @media screen and (max-width: width 1024px) {
    .nav-links {
      width: 60%;
    }

    .slogan {
      width: 60%;
    }
  }

  @media screen and (max-width: width 768px) {
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .text {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    background-color: #f4cf1b;
  }

  .paragraphe {
    color: #1078AD;
    font-size: 14px;
  }

  h3 {
    font-size: medium;
  }

  .section1 {
    display: flex;
    justify-content: space-evenly
  }

  .photo {
    margin-top: 1.5%;

  }

  .contenu {
    margin-top: 4%;
    font-family: 'Cairo', sans-serif;
    width: 50%;
    margin-right: 60px;
  }



  .contenu h1 {
    font-size: x-large;
    font-weight: bold;
    color: #1078AD;
    text-align: center;
  }

  .contenu h2 {
    text-align: center;
    color: #7F7F7F;
    font-size: 25px;
    margin-top: -10px;
  }

  .contenu div {
    margin-left: 220px;
    margin-top: 10px;
  }

  .contenu button {
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: x-large;
    width: 100%;
    background-color: #1078AD;
    padding: 0px 15px;
    box-shadow: #1078AD;
    font-family: 'Cairo', sans-serif;
    margin-top: 10px;
  }

  .content h1 {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    color: #1078AD;
    font-size: xx-large;
  }

  .content p {
    font-family: 'Cairo', sans-serif;
    font-size: xx-large;
    margin-left: -20px;
    line-height: normal;

  }

  .sous-contenu {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-top: 10px;
    text-align: center;

  }

  .icon {
    margin-left: -30px;
  }



  .sous-contenu p {
    margin-top: 10px;
    line-height: normal;
  }

  .section3 {
    background-color: #1078AD;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 30px;
  }

  .titre {
    text-align: center;
    color: #d0E5F0;
    font-family: 'Cairo', sans-serif;
    padding: 12px;
    font-size: large;
  }

  .content2 {
    display: flex;
    justify-content: space-evenly;
  }

  .text2 {
    line-height: 35px;
    font-family: 'Cairo', sans-serif;
  }

  .text2 h3 {
    color: white;
    font-size: large;
  }

  .text3 {
    line-height: 40px;
    margin-top: 30px;
    text-align: center;
  }

  .text3 h2 {
    color: #f4cf1b;
    font-family: 'Cairo', sans-serif;
  }

  .text3 button {
    color: #1078AD;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #f4cf1b;
    margin-top: 20px;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 6px;
    box-shadow: #f4cf1b;
  }

  .text3 h3 {
    color: white;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .whole {
    background-color: #d0E5F0;
    padding-top: 10px;

  }

  .section4 {

    text-align: center;
    line-height: -30px;

  }

  .section4 h1 {
    font-family: 'Cairo', sans-serif;
    color: #1078AD;

  }

  .btn {
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: x-large;
    width: 50%;
    background-color: #1078AD;
    padding: 0px 15px;
    box-shadow: #1078AD;
    font-family: 'Cairo', sans-serif;
    margin-left: 330px;
  }

  padd .section4 img {
    align-items: center;
  }

  .section5 {
    align-items: center;
    font-family: 'cairo', sans-serif;

  }


  .whole2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 100px;
    padding: 10px;
    margin-top: 20px;
  }

  .word {
    color: #1078AD;
    font-family: 'Cairo', sans-serif;
  }

  .btn2 {
    border-radius: 10px;
    font-family: 'Cairo', sans-serif;
    width: 40%;
    font-weight: bold;
    font-size: 17px;
    border-style: ridge;
    text-align: center;
    height: 30px;

  }

  .section5 img {
    margin-left: 600px;
    margin-top: 20px;
  }

  .part1 {
    line-height: 50px;
  }

  .part2 {
    text-align: center;
    line-height: 40px;
    font-family: 'cairo'sans-serif;
  }

  .part2 h3 {
    color: #1078AD;
    font-family: 'cairo', sans-serif;
    font-size: x-large;
  }

  .part2 p {
    color: #369D53;
    font-weight: bolder;
  }

  .part3 {
    color: #7F7F7F;
    margin-top: 60px;
    font-weight: lighter;
  }

}